<?xml version="1.0"?>
<config>
	<global>
		<models>
			<slider>
				<class>Sns_Slider_Model</class>
			</slider>
		</models>
		<blocks>
			<slider>
				<class>Sns_Slider_Block</class>
			</slider>
		</blocks>
		<helpers>
			<slider>
				<class>Sns_Slider_Helper</class>
			</slider>
		</helpers>
		<resources>
			<slider_setup>
				<setup>
					<module>Sns_Slider</module>
				</setup>
			</slider_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<slider>
				<use>standard</use>
				<args>
					<module>Sns_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
		<layout>
			<updates>
				<slider module="Sns_Slider">
					<file>sns/slider.xml</file>
				</slider>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sns_Slider>
					<files>
						<default>Sns_Slider.csv</default>
					</files>
				</Sns_Slider>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sns_Slider>
					<files>
						<default>Sns_Slider.csv</default>
					</files>
				</Sns_Slider>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<slider_cfg translate="title" module="slider">
											<title>SNS Slider Setting</title>
										</slider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<slider_cfg module="slider">
			<general>
				<title>SNS Slider</title>
			</general>
			<product_selection>
				<product_source>catalog</product_source>
				<product_category></product_category>
				<product_ids></product_ids>
				<product_order_by>random</product_order_by>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>12</product_limitation>
			</product_selection>
			<effect_slider>
            	<duration>800</duration>
            	<items_scroll>1</items_scroll>
				<navigation>1</navigation>
				<auto>1</auto>
				<loader>1</loader>
			</effect_slider>
			<product_display_setting>
				<product_image_disp>1</product_image_disp>
				<product_image_width>135</product_image_width>
				<product_image_height>135</product_image_height>

				<product_title_disp>1</product_title_disp>
				<product_title_max_length>25</product_title_max_length>

				<product_description_disp>1</product_description_disp>
				<product_description_src>short_description</product_description_src>
				<product_description_strip_tags>0</product_description_strip_tags>
				<product_description_keep_tags></product_description_keep_tags>
				<product_description_max_length>40</product_description_max_length>

				<product_price_disp>1</product_price_disp>
				<product_rating_summary>1</product_rating_summary>
				<product_cart_or_status>1</product_cart_or_status>
				<product_addtocompare>1</product_addtocompare>
				<product_addtowishlist>1</product_addtowishlist>
			</product_display_setting>
			<advanced>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
		</slider_cfg>
	</default>
</config>