<?xml version="1.0"?>
<config>
	<modules>
        <Sns_FractionSliderBanner>
            <version>1.0</version>
        </Sns_FractionSliderBanner>
    </modules>
	<global>
		<models>
            <fractionsliderbanner>
                <class>Sns_FractionSliderBanner_Model</class>
            </fractionsliderbanner>
        </models>
		<blocks>
            <fractionsliderbanner>
                <class>Sns_FractionSliderBanner_Block</class>
            </fractionsliderbanner>
        </blocks>
		<helpers>
            <fractionsliderbanner>
                <class>Sns_FractionSliderBanner_Helper</class>
            </fractionsliderbanner>
        </helpers>
        <resources>
        	<fractionsliderbanner_setup>
        		<setup>
        			<module>Sns_FractionSliderBanner</module>
        		</setup>
        	</fractionsliderbanner_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<fractionsliderbanner>
                <use>standard</use>
                <args>
                    <module>Sns_FractionSliderBanner</module>
                    <frontName>fractionsliderbanner</frontName>
                </args>
            </fractionsliderbanner>
        </routers>
		<layout>
            <updates>
                <fractionsliderbanner module="Sns_FractionSliderBanner">
					<file>sns/fractionsliderbanner.xml</file>
                </fractionsliderbanner>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sns_FractionSliderBanner>
                     <files>
                          <default>Sns_FractionSliderBanner.csv</default>
                     </files>
                </Sns_FractionSliderBanner>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sns_FractionSliderBanner>
                     <files>
                          <default>Sns_FractionSliderBanner.csv</default>
                     </files>
                </Sns_FractionSliderBanner>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fractionsliderbanner_cfg translate="title" module="fractionsliderbanner">
											<title>SNS Fraction Slider Banner Settings</title>
										</fractionsliderbanner_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <fractionsliderbanner_cfg>
         	<general>
                <title>SNS Fraction Slider Banner</title>
            </general>
			<slideshow_effect>
				<autoplay>1</autoplay>
				<timeout>8000</timeout>
                <controls>1</controls>
				<pager>0</pager>
                <fullWidth>1</fullWidth>
                <hDimensions>500</hDimensions>
				<wDimensions>1170</wDimensions>
			</slideshow_effect>
            <banner_selection>
                <html_slides></html_slides>
			</banner_selection>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </fractionsliderbanner_cfg>
    </default>
</config>