<?xml version="1.0"?>
<config>
	<global>
		<models>
            <twitter>
                <class>Sns_Twitter_Model</class>
            </twitter>
        </models>
		<blocks>
            <twitter>
                <class>Sns_Twitter_Block</class>
            </twitter>
        </blocks>
		<helpers>
            <twitter>
                <class>Sns_Twitter_Helper</class>
            </twitter>
        </helpers>
        <resources>
        	<twitter_setup>
        		<setup>
        			<module>Sns_Twitter</module>
        		</setup>
        	</twitter_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<twitter>
                <use>standard</use>
                <args>
                    <module>Sns_Twitter</module>
                    <frontName>twitter</frontName>
                </args>
            </twitter>
        </routers>
		<layout>
            <updates>
                <twitter module="Sns_Twitter">
					<file>sns/twitter.xml</file>
                </twitter>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sns_Twitter>
                     <files>
                          <default>Sns_Twitter.csv</default>
                     </files>
                </Sns_Twitter>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sns_Twitter>
                     <files>
                          <default>Sns_Twitter.csv</default>
                     </files>
                </Sns_Twitter>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<twitter_cfg translate="title" module="twitter">
											<title>SNS Twitter Settings</title>
										</twitter_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <twitter_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SNS Twitter</title>
            </general>
			<module_setting>
				<widgets_id>420187988887212033</widgets_id>
				<limit>2</limit>
                <avartar>0</avartar>
				<follow_link>0</follow_link>
				<account_name>snstheme</account_name>
				<interact_link>0</interact_link>
				<date>1</date>
			</module_setting>
            <advanced>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </twitter_cfg>
    </default>
</config>